name: CI/CD Pipeline

on:
  push:
    branches:
      - main  
  pull_request:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'  

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test -- --coverage --passWithNoTests

    - name: Build app
      run: npm run build

    - name: List build directory contents
      run: ls -la build  

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: build
        path: build/

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download build artifacts
      uses: actions/download-artifact@v3
      with:
        name: build

    - name: Install Firebase CLI
      run: npm install -g firebase-tools

    - name: Set up Google Application Credentials
      env:
        GOOGLE_APPLICATION_CREDENTIALS_JSON: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}
      run: |
        echo "${GOOGLE_APPLICATION_CREDENTIALS_JSON}" > "${HOME}/gcloud_key.json"
        echo "File created at ${HOME}/gcloud_key.json"
        cat "${HOME}/gcloud_key.json"  

    - name: Deploy to Firebase Hosting
      env:
        GOOGLE_APPLICATION_CREDENTIALS: "${HOME}/gcloud_key.json"
      run: firebase deploy --only hosting
